table,
th,
td {
    border: 1px solid;
}
td,
th {
    border: 1px solid #999;
    padding: 20px;
}
.table {
    border-spacing: 1em 0.5em;
    padding: 0 2em 1em 0;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}

.td {
    width: 1.5em;
    height: 1.5em;
    background: #d2d2d2;
    text-align: center,
}
.th {
    height: 70px;
}